*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  background-color: #fff;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px 50px;
  background-color: #fff;
  z-index: 999;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo-text{
 display: flex;
 position: relative;
}
.logo-text .box{
  width: 36.77px;
  height: 57.49px;
  background-color: #000000;
}
.logo-text .box-text{
  display: flex;
  align-items: center;
  position: absolute;
  left: 15px;
  bottom: 8px;
}
.logo-text span span:first-child{
  font-family: Lucida Grande;
  font-size: 18.85px;
  font-weight: 700;
  line-height: 25.06px;
  text-align: left;
  padding-left: 5px;  
  background: #D9D9D9;
  color: #000000;
}
.logo-text span{
  font-family: Lucida Grande;
  font-size: 18.85px;
  font-weight: 700;
  line-height: 35.06px;
  text-align: left;  
  color: #F55C4E;
}
.left-nav{
  display: flex;
  align-items: center;
  gap: 45px;
}
.left-nav button{
  font-family: Lucida Grande;
  font-size: 18px;
  font-weight: 700;
  line-height: 33.47px;
  text-align: left;
  color:#FFFFFF;
  width: 284px;
  height: 53px;
  padding: 10px 30px 10px 30px;
  background-color: #F55C4E;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.menubar{
  width: 43.75px;
  height: 31.25px;
  cursor: pointer;
}
section{
  margin-top: 9rem;
  padding: 0px 50px;
}
.hero-page{
  display: flex;
  gap: 58px;
}
.left-content{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}
.left-content span{
  font-family: Sorts Mill Goudy;
  font-size: 50px;
  font-weight: 400;
  line-height: 71.9px;
  text-align: left;  
}
.left-content span b{
  color: #F75D4F;
}
.left-content p{
  font-family: Lucida Grande;
  font-size: 20px;
  font-weight: 400;
  line-height: 37.19px;
  text-align: left;
  color: #5F676C;
}
.left-content button{
  font-family: Lucida Grande;
  font-size: 18px;
  font-weight: 700;
  line-height: 33.47px;
  text-align: left;
  color:#FFFFFF;
  width: 284px;
  height: 53px;
  padding: 10px 30px 10px 30px;
  background-color: #F55C4E;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.right-content{
  display: flex;
  justify-content: right;
  width: 50%;
}
.right-content .b-box{
  position: relative;
  display: flex;
  width: 435.08px;
  height: 438.38px;
  gap: 0px;
  border-radius: 0px 65.92px 0px 65.92px;
  opacity: 0px;
  background-color:#C8DEFD;
}
.right-content .b-box .s-1{
  width: 363.67px;
  height: 383.45px;
  top: 27.47px;
  left: 36.26px;
  gap: 0px;
  opacity: 0px;
  margin: auto;
  z-index: 1;
}
.right-content .b-box-layer{
  position: absolute;
  top: 10rem;
  left: -10.3rem;
  width: fit-content;
  padding: 12px;
  border-radius: 0px 28px 0px 28px;
  background-color: #fff;
}
.right-content .b-box-2{
  display: flex;
  width: 184.8px;
  height: 186.2px;
  gap: 0px;
  border-radius: 0px 28px 0px 28px;
  opacity: 0px;  
  background-color:#C8DEFD;
}
.b-box-2 .s-2{
  width: 171.4px;
  height: 164.8px;
  top: 10.99px;
  left: 6.59px;
  gap: 0px;
  opacity: 0px;
  margin: auto;
}
main{
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 100px;
}
.about{
  display: flex;
  border-radius: 20px;
  gap: 100px;
  background-color: #F9FAFC;
}
.text-cont{
  display: flex;
  flex-direction: column;
  gap: 30px;margin: 78px 75px;
}
.txt-h{

}
.txt-h span{
  font-family: Sorts Mill Goudy;
  font-size: 45px;
  font-weight: 400;
  line-height: 64.71px;
  text-align: left;
}
.txt-h img{

}
.text-cont p{
  font-family: Lucida Grande;
  font-size: 20px;
  font-weight: 400;
  line-height: 37.19px;
  text-align: left;
  color: #5F676C;
}
.img-box{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-right: 75px;
  align-items: center;
}
.img-box .img-img{
  position: absolute;
  display: flex;
}
.img-box img{
  width: 346px;
  height: 516px;
  top: 27px;
  left: 823px;
  gap: 0px;
  opacity: 0px;
}
.img-box .img-p{
  width: 380px;
  height: 161px;
  top: 382px;
  left: 806px;
  gap: 0px;
  border-radius: 40px 40px 0px 0px;
  opacity: 0px;
  background-color: #C8DEFD;
}
  .form-submit{
  display: flex;
  flex-direction: column;
  padding: 56px 135px 56px 135px;
  gap: 10px;
  border-radius: 20px;
  opacity: 0px;
  background-color: #ECF3FE;
  }
  .form-submit .s-m{
  font-family: Sorts Mill Goudy;
  font-size: 45px;
  font-weight: 400;
  line-height: 64.71px;
  text-align: left;
  margin: auto;
}
.form-submit form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 60px;
}
.form-submit form input{
  font-family: Lucida Grande;
  font-size: 18px;
  font-weight: 400;
  line-height: 33.47px;
  text-align: left;
  color: #818397;
  outline-color: #F55C4E;
  padding: 15px 25px 15px 25px;
  border-radius: 10px;
  border: 1px solid #EBEAEA;
  width: 100%;
  opacity: 0px;
  background-color: #FFFFFF;
}
.form-submit form .n-e{
  display: flex;
  gap: 30px;
}
.drag-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 979px;
  height: 202px;
  border-radius: 10px;
  opacity: 0px;
  border: 1px dashed #457B9D;
  background-color: #FFFFFF;
}
.drag-box.drag-over {
  background-color: #e0f7fa; /* Highlight when dragging */
  border-color: #00796b;
}
.drag-box .d-txt{
  font-family: Lucida Grande;
  font-size: 30px;
  font-weight: 400;
  line-height: 55.79px;
  text-align: left;
  color: #000000;  
}
.drag-box .or-br{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.drag-box .or-br span:first-child{
  font-family: Lucida Grande;
  font-size: 15px;
  font-weight: 400;
  line-height: 27.9px;
  text-align: left;
  color: #000000;
  margin-top: 9px;
}
.drag-box .or-br span:nth-child(2){
  font-family: Lucida Grande;
  font-size: 15px;
  font-weight: 400;
  line-height: 27.9px;
  text-align: left;
  color: #E63946;
  margin-top: 10px;
  cursor: pointer;
}
.drag-box .or-br span:nth-child(2):hover{
  text-decoration: underline;
}
.fileMessage{
  font-family: Lucida Grande;
  font-size: 15px;
  font-weight: 400;
  line-height: 27.9px;
  color: #1D3557;
  margin-top: 10px;
}
.ac-t{
  display: flex;
  align-items: center;
  margin-top: 3px;
  gap: 30px;
}
.ac-t input[type="checkbox"] {
  width: 40px;
  height: 38px;
  border-radius: 10px;
  border: 1px solid #1D3557B2;
  background-color: #FFFFFF;
  position: relative;
}

.ac-t input[type="checkbox"]::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 38px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #1D3557B2;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.ac-t input[type="checkbox"]:checked::before {
  background-color: #F55C4E;
}

.ac-t input[type="checkbox"]:checked::after {
  content: '✔';
  font-size: 20px;
  color: white;
  position: absolute;
  top: 4px;
  left: 10px;
}
.ac-t span{
  font-family: Lucida Grande;
  font-size: 18px;
  font-weight: 400;
  line-height: 33.47px;
  text-align: left;
  color: #1D3557;
}
.ac-t span b{
  color: #000000;
}
.form-submit form button{
  font-family: Lucida Grande;
  font-size: 18px;
  font-weight: 700;
  line-height: 33.47px;
  text-align: left;
  width: 284px;
  height: 53px;
  left: 1px;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  border: none;
  opacity: 0px;
  background-color: #F55C4E;
  margin-top: 30px;
  color: #FFFFFF;
  cursor: pointer;
}
.updates{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px 103px 50px 103px;
  gap: 10px;
  border-radius: 20px;
  opacity: 0px;
  background-color: #C8DEFD;
}
.updates span{
  font-family: Sorts Mill Goudy;
  font-size: 45px;
  font-weight: 400;
  line-height: 64.71px;
  text-align: left;
  color: #000000;
}
.updates p{
  font-family: Lucida Grande;
  font-size: 20px;
  font-weight: 400;
  line-height: 37.19px;
  text-align: center;
  color: #5F676C;
}
.updates form{
  display: flex;
  justify-content: space-between;
  width: 832px;
  height: 63px;
  padding: 7px 6px 6px 23.82px;
  gap: 200.57px;
  border-radius: 10.03px;
  border: 1.25px 0px 0px 0px;
  opacity: 0px;
  background-color: #FFFFFF
}
.updates form input{
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 500;
  line-height: 29.54px;
  text-align: left;
  color: #7E8186;
  border: none;
  outline: none;
}
.updates form button{
  font-family: Lucida Grande;
  font-size: 18.8px;
  font-weight: 700;
  line-height: 34.97px;
  text-align: left;
  width: 162px;
  height: 50px;
  top: 7px;
  left: 664px;
  padding: 10.03px 33px 4.97px 34px;
  gap: 12.54px;
  border-radius: 10.03px;
  border: none;
  opacity: 0px;
  color: #FFFFFF;
  background-color: #F55C4E;
  cursor: pointer;
}
